<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>《天下3》2017年全新资料片“剑啸昆仑”</title>
    <meta http-equiv="x-ua-compatible" content="IE-edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="../../../public/css/lead/lead.css"/>
    <link rel="stylesheet" href="../../../public/css/lead/top.css"/>
    <link rel="stylesheet" href="../../../public/css/index/foot.css"/>
    <link rel="stylesheet" href="../../../public/bootstrap-3.3.7-dist/css/bootstrap.css">

</head>
<body >
<div class="main">
    <div class="navbar">
        <div class="container">
            <div class="navbar-header">
                <a class="topBar-logo" href="http://game.163.com/" target="_blank">
                    <img src="../../../public/images/index/logo.png"/>
                </a>
            </div>
            <div id="NIE-topBar-news" style="display: block;" class="NIE-topBar-news-hover">
                <img class="NIE-topBar-abc-s" id="NIE-topBar-abc-s" src="../../../public/images/index/nav-small.jpg"/>
                <a id="NIE-topBar-news-link" href="https://a.game.163.com/fz/interface/frontend/clickstatics.do?pid=generalproduct&apid=90f968b1-5292-4b3e-ab9a-786aa68a131a&aid=76964c18-293d-40ad-a1a2-43725798ed53&r=aHR0cHM6Ly9nYWQubmV0ZWFzZS5jb20vbW1hZC9jbGljaz9zPXROOWUxRVJBeFdEZ1B6d3QlMkZGcVZHYUNwZFpnJTNEJnByb2plY3RfaWQ9MTQ0Nzk4MDMmbW9uaXRvcl90eXBlPTQ=">
                    <img id="NIE-topBar-abc-b" src="../../../public/images/index/nav-big.jpg"/>
                </a>
            </div>
            <div class="nav-mid">
                <span><a href="../login/Resign.html" target="_blank">注册账号</a></span>
                <span><a href="#">安卓充值</a></span>
            </div>
            <div class="drn">
                <span>网易游戏全目录</span>
                <span class="caret"></span>
            </div>
            <div class="nav-right">
                <ul class="nav-right_ul1">
                    <li><a href="">领取网易严选宝箱</a></li>
                    <li><a href="">游戏充值9.9折</a></li>
                </ul>
                <ul class="nav-right_ul2">
                    <li><a href="">领取网易严选宝箱</a></li>
                    <li><a href="">游戏充值9.9折</a></li>
                </ul>
            </div>
            <div class="NIE-table">
                <ul class="NIE-nav">
                    <li id="client" style="width: 248px">
                        <b>客户端游戏</b>
                    </li>
                    <li class="" id="mobi" style="width: 594px">
                        <b>手机游戏</b>
                    </li>
                    <li id="last_th" class="last_th" style="width: 158px;float: left">
                        <b>游戏辅助</b>
                    </li>
                </ul>
                <ul class="NIE-list">
                    <li style="width: 248px">
                        <p>角色扮演</p>
                        <a href="" target="_blank">
                            <em class="NIE-topBar-1st">梦幻西游电脑版</em>
                        </a>
                        <a href="" target="_blank">
                            <em class="NIE-topBar-hot">天下3</em>
                        </a>
                        <a href="" target="_blank">
                            <em class="NIE-topBar-hot">大话2经典版</em>
                        </a>
                        <a href="" target="_blank">
                            <em class="NIE-topBar-new">天谕</em>
                        </a>
                        <a href="" target="_blank">
                            大话2免费版
                        </a>
                        <a href="" target="_blank">
                            <em class="NIE-topBar-new">西楚霸王</em>
                        </a>
                        <a href="" target="_blank">
                            新大话3经典版
                        </a>
                        <a href="" target="_blank">
                            <em class="NIE-topBar-new">新倩女幽魂</em>
                        </a>
                        <a href="" target="_blank">
                            新大话3免费版
                        </a>
                        <a href="" target="_blank">
                            <em class="NIE-topBar-new">泰亚史诗</em>
                        </a>
                        <a href="" target="_blank">
                            镇魔曲
                        </a>
                        <a href="" target="_blank">
                            大唐无双
                        </a>
                        <a href="" target="_blank">
                            <em class="NIE-topBar-new">龙魂时刻</em>
                        </a>
                        <a href="" target="_blank">
                            武魂2
                        </a>
                        <a href="" target="_blank">
                            精灵传说
                        </a>
                        <a href="" target="_blank">
                            斩魂
                        </a>
                        <a href="" target="_blank">
                            新飞飞
                        </a>
                        <a href="" target="_blank">
                            魔兽世界
                        </a>
                        <a href="" target="_blank">
                            暗黑破坏神3
                        </a>
                        <p>休闲/竞技</p>
                        <a href="" target="_blank">
                            <em class="NIE-topBar-new">守望先锋</em>
                        </a>
                        <a href="" target="_blank">
                            <em class="NIE-topBar-new">突击英雄</em>
                        </a>
                        <a href="" target="_blank">
                            <em class="NIE-topBar-new">夺宝联盟</em>
                        </a>
                        <a href="" target="_blank">
                            <em class="NIE-topBar-new">无尽战区</em>
                        </a>
                        <a href="" target="_blank">
                            <em class="NIE-topBar-new">战意</em>
                        </a>
                        <a href="" target="_blank">
                            <em class="NIE-topBar-new">秘境对决</em>
                        </a>
                        <a href="" target="_blank">
                            风暴英雄
                        </a>
                        <a href="" target="_blank">
                            星际争霸Ⅱ
                        </a>
                        <a href="" target="_blank">
                            英雄三国
                        </a>
                        <a href="" target="_blank">
                            炉石传说
                        </a>
                    </li>
                    <li class="" id="hot" style="width: 158px">
                        <p>热门推荐</p>
                        <a href="" target="_blank">
                            <em class="NIE-topBar-hot">梦幻西游手游</em>
                        </a>
                        <a href="" target="_blank">
                            <em class="NIE-topBar-hot">大话西游手游</em>
                        </a>
                        <a href="" target="_blank">
                            <em class="NIE-topBar-hot">倩女幽魂手游</em>
                        </a>
                        <a href="" target="_blank">
                            <em class="NIE-topBar-hot">阴阳师</em>
                        </a>
                        <a href="" target="_blank">
                            <em class="NIE-topBar-hot">率土之滨</em>
                        </a>
                        <a href="" target="_blank">
                            <em class="NIE-topBar-hot">Raven：掠夺者</em>
                        </a>
                        <a href="" target="_blank">
                            <em class="NIE-topBar-hot">大唐无双手游</em>
                        </a>
                        <a href="" target="_blank">
                            <em class="NIE-topBar-hot">乱斗西游2</em>
                        </a>
                        <a href="" target="_blank">
                            <em class="NIE-topBar-hot">梦幻西游无双2</em>
                        </a>
                        <a href="" target="_blank">
                            功夫熊猫3手游
                        </a>
                        <a href="" target="_blank">
                            西游神魔决
                        </a>
                        <a href="" target="_blank">
                            时空之刃
                        </a>
                        <a href="" target="_blank">
                            梦想星城
                        </a>
                        <a href="" target="_blank">
                            乖离性百万亚瑟王
                        </a>
                        <a href="" target="_blank">
                            有杀气童话
                        </a>
                    </li>
                    <li class="" id="news" style="width: 436px">
                        <p>新品推荐</p>
                        <div class="long_news">
                            <a href="" target="_blank">
                                <em class="NIE-topBar-new">天下手游</em>
                            </a>
                            <a href="" target="_blank">
                                <em class="NIE-topBar-new">我的世界Minecraft</em>
                            </a>
                            <a href="" target="_blank">
                                <em class="NIE-topBar-new">终结者2官方手游</em>
                            </a>
                            <a href="" target="_blank">
                                <em class="NIE-topBar-new">秘宝猎人</em>
                            </a>
                            <a href="" target="_blank">
                                <em class="NIE-topBar-new">大话西游热血版</em>
                            </a>
                            <a href="" target="_blank">
                                <em class="NIE-topBar-new">坦克世界闪击战</em>
                            </a>
                            <a href="" target="_blank">
                                <em class="NIE-topBar-new">天启联盟</em>
                            </a>
                            <a href="" target="_blank">
                                <em class="NIE-topBar-new">叛逆性百万亚瑟王</em>
                            </a>
                            <a href="" target="_blank">
                                <em class="NIE-topBar-new">元气战姬学院</em>
                            </a>
                            <a href="" target="_blank">
                                <em class="NIE-topBar-new">萌王EX</em>
                            </a>
                            <a href="" target="_blank">
                                <em class="NIE-topBar-new">泰坦黎明</em>
                            </a>
                            <a href="" target="_blank">
                                <em class="NIE-topBar-new">初音速</em>
                            </a>
                            <a href="" target="_blank">
                                <em class="NIE-topBar-new">战国志</em>
                            </a>
                            <a href="" target="_blank">
                                <em class="NIE-topBar-new">飞刀又见飞刀</em>
                            </a>
                            <a href="" target="_blank">
                                功夫熊猫官方手游
                            </a>
                            <a href="" target="_blank">
                                猫和老鼠官方手游
                            </a>
                        </div>
                        <div class="short_news">
                            <a href="" target="_blank">
                                <em class="NIE-topBar-new">镇魔曲手游</em>
                            </a>
                            <a href="" target="_blank">
                                <em class="NIE-topBar-new">秘境对决</em>
                            </a>
                            <a href="" target="_blank">
                                <em class="NIE-topBar-new">魔法禁书目录</em>
                            </a>
                            <a href="" target="_blank">
                                <em class="NIE-topBar-new">三国如龙传</em>
                            </a>
                            <a href="" target="_blank">
                                <em class="NIE-topBar-new">迷雾世界</em>
                            </a>
                            <a href="" target="_blank">
                                <em class="NIE-topBar-new">光明大陆</em>
                            </a>
                            <a href="" target="_blank">
                                <em class="NIE-topBar-new">荆棘王座</em>
                            </a>
                            <a href="" target="_blank">
                                <em class="NIE-topBar-new">重装突击</em>
                            </a>
                            <a href="" target="_blank">
                                <em class="NIE-topBar-new">坦克连</em>
                            </a>
                            <a href="" target="_blank">
                                <em class="NIE-topBar-new">天骄铁骑</em>
                            </a>
                            <a href="" target="_blank">
                                <em class="NIE-topBar-new">汉王纷争</em>
                            </a>
                            <a href="" target="_blank">
                                <em class="NIE-topBar-new">第五人格</em>
                            </a>
                            <a href="" target="_blank">
                                <em class="NIE-topBar-new">永远的7日之都</em>
                            </a>
                            <a href="" target="_blank">
                                <em class="NIE-topBar-new">楚留香</em>
                            </a>
                            <a href="" target="_blank">
                                小时代官方游戏
                            </a>
                            <a href="" target="_blank">
                                妖刀少女异闻录
                            </a>
                        </div>
                        <div class="mini_news">
                            <a href="" target="_blank">
                                大航海之路
                            </a>
                            <a href="" target="_blank">
                                三少爷的剑
                            </a>
                            <a href="" target="_blank">
                                我守护的一切
                            </a>
                            <a href="" target="_blank">
                                劲舞团
                            </a>
                            <a href="" target="_blank">
                                潮人篮球
                            </a>
                            <a href="" target="_blank">
                                永恒文明
                            </a>
                            <a href="" target="_blank">
                                魂之幻影
                            </a>
                            <a href="" target="_blank">
                                曙光先锋
                            </a>
                            <a href="" target="_blank">
                                大唐游仙记
                            </a>
                            <a href="" target="_blank">
                                大富翁9
                            </a>
                            <a href="" target="_blank">
                                无尽战区·觉醒
                            </a>
                            <a href="" target="_blank">
                                无限战争
                            </a>
                            <a href="" target="_blank">
                                格罗亚传奇
                            </a>
                            <a href="" target="_blank">
                                花语月
                            </a>
                            <a href="" target="_blank">
                                惊梦
                            </a>
                        </div>
                        <div class="mini_news">
                            <a href="" target="_blank">
                                黑暗启元
                            </a>
                            <a href="" target="_blank">
                                伏魔咒
                            </a>
                            <a href="" target="_blank">
                                天下HD
                            </a>
                            <a href="" target="_blank">
                                天下X天下
                            </a>
                            <a href="" target="_blank">
                                异次元战姬
                            </a>
                            <a href="" target="_blank">
                                永恒边境
                            </a>
                            <a href="" target="_blank">
                                钢铁黎明
                            </a>
                            <a href="" target="_blank">
                                无尽神域
                            </a>
                            <a href="" target="_blank">
                                勇士x勇士
                            </a>
                            <a href="" target="_blank">
                                斩魂手游版
                            </a>
                            <a href="" target="_blank">
                                星际总动员
                            </a>
                            <a href="" target="_blank">
                                魔天记
                            </a>
                            <a href="" target="_blank">
                                雨血：影之刃
                            </a>
                            <a href="" target="_blank">
                                弹弹猴
                            </a>
                            <a href="" target="_blank">
                                圣灵觉醒
                            </a>
                            <a href="" target="_blank">
                                狩猎纪元
                            </a>
                        </div>
                        <div class="mini_news">
                            <a href="" target="_blank">
                                命运起源
                            </a>
                            <a href="" target="_blank">
                                蛋糕物语
                            </a>
                            <a href="" target="_blank">
                                皇牌机娘
                            </a>
                            <a href="" target="_blank">
                                忍者必须死2
                            </a>
                            <a href="" target="_blank">
                                童话大冒险
                            </a>
                            <a href="" target="_blank">
                                暴走骑士团
                            </a>
                            <a href="" target="_blank">
                                倩女幽魂录
                            </a>
                            <a href="" target="_blank">
                                神魔劫
                            </a>
                            <a href="" target="_blank">
                                火拼萌萌消
                            </a>
                            <a href="" target="_blank">
                                超能动物联盟
                            </a>
                            <a href="" target="_blank">
                                将临天下
                            </a>
                            <a href="" target="_blank">
                                绝代双骄
                            </a>
                            <a href="" target="_blank">
                                小李飞刀
                            </a>
                            <a href="" target="_blank">
                                我朝有马
                            </a>
                            <a href="" target="_blank">
                                口袋侏罗纪
                            </a>
                            <a href="" target="_blank">
                                无限幻斗
                            </a>
                        </div>
                        <div class="mini_news">
                            <a href="" target="_blank">
                                烽火王师
                            </a>
                            <a href="" target="_blank">
                                迷你西游
                            </a>
                            <a href="" target="_blank">
                                来自星星的你
                            </a>
                            <a href="" target="_blank">
                                主公莫慌
                            </a>
                            <a href="" target="_blank">
                                主公莫慌
                            </a>
                        </div>
                        <span class="NIE-topBar-more" id="NIE-topBar-more">
                              更多热门手游
                          </span>
                    </li>
                    <li class="fuzhu"  style="width: 155px;border-right: 0;float: right">
                        <a href="" target="_blank">
                            <em class="NIE-topBar-hot">游品位</em>
                        </a>
                        <a href="" target="_blank">
                            <em class="NIE-topBar-hot">网易MuMu</em>
                        </a>
                        <a href="" target="_blank">
                            网易游戏印象
                        </a>
                        <a href="" target="_blank">
                            网易游戏平台
                        </a>
                        <a href="" target="_blank">
                            <em class="NIE-topBar-hot">游戏论坛app</em>
                        </a>
                        <a href="" target="_blank">
                            手机将军令
                        </a>
                        <a href="" target="_blank">
                            将军令
                        </a>
                        <a href="" target="_blank">
                            游戏知道
                        </a>
                        <a href="" target="_blank">
                            藏宝阁
                        </a>
                        <a href="" target="_blank">
                            网易CC
                        </a>
                        <a href="" target="_blank">
                            客服中心
                        </a>
                        <a href="" target="_blank">
                            自助百宝箱
                        </a>
                        <a href="" target="_blank">
                            网易UU加速器
                        </a>
                        <a href="" target="_blank">
                            网易游戏
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--隐藏的视频层-->
    <div class="Layer on">
        <div class="pop video-pop" style="display: block; margin-top:-281.5px;">
            <a href="javascript:;" class="close"></a>
            <!--视频-->
            <div class="video-box">
                <video id="myPlayer" src="../../../public/images/lead/xd-video.mp4" onclick="play()" controls="yes"  loop="loop"></video>
            </div>
        </div>
    </div>
    <div class="content" style="margin-top:0;">
        <div class="slider">
            <a target="_blank" href="../index/index.html">官网</a>
            <a target="_blank" href="../login/Register.html">注册</a>
            <a target="_blank" href="">下载</a>
        </div>
        <div class="contentCenter">
            <a class="logo" target="_blank" href="../index/index.html">
                <img src="../../../public/images/lead/tx-logo.png"/></a>
            <div class="video-play">
                <i class="left"></i>
                <a href="javascript:;" class="videoBut" data-video="../../../public/images/lead/xd-video.mp4"></a>
                <i class="right"></i>
            </div>
            <a href="../index/index.html" class="enterGW" id="interGW" target="_blank"></a>
            <a target="_blank" href="" class="download"></a>
        </div>
        <div class="web-box wbox" id="box1" >
            <div class="line-top"></div>
            <div class="line-left"></div>
            <div class="line-right"></div>
            <div class="line-bottom"></div>
            <div class="showBox">
                <ul class="show-list">
                    <li>
                        <div class="li1">
                            <h2 class="list-top">
                                <div>
                                    <s></s>
                                    5秒快速注册
                                </div>
                            </h2>
                            <div class="inpBox">
                                <div class="parentCls">
                                    <input type="text" class="inputElem" id="email" placeholder="邮箱账号">
                                    <div class="pclear"></div>
                                </div>
                                <div class="parentCls">
                                    <input type="password" class="inputElem" id="pwd" placeholder="6-16位密码，区分大小写">
                                    <div class="pclear"></div>
                                </div>
                                <div class="yzheng">
                                    <input placeholder="验证码" type="text" id="yzmContent"/>
                                    <div id="code" onclick="creatCode()"></div>
                                </div>
                                <div class="tips">
                                    <div class="tip_img"></div>
                                    帐号须由6-18个字符组成
                                </div>
                                <div class="agreen">我同意<a href="#">《服务条款》</a>和<a href="">《隐私保护和个人信息利用政策》</a></div>
                                <div class="liji">
                                    <a class="into-zc" target="_blank" href="javascript:;" >立即注册</a>
                                </div>
                        </div>
                        </div>
                    </li>
                    <li>
                        <div class="li2">
                            <h2 class="list-top">
                                <div>
                                    <s></s>
                                    完成注册100%有礼
                                </div>
                            </h2>
                            <div class="newBtu">
                                <div class="pic-show" >
                                    <div class="wrap" id="wrap">
                                        <ul style="width:615px">
                                            <li><a href=""><img src="../../../public/images/lead/lb1_f2dfabb.png"/></a></li>
                                            <li><a href=""><img src="../../../public/images/lead/lb2_2.png"/></a></li>
                                            <li><a href=""><img src="../../../public/images/lead/lb3_6c.png"/></a></li>
                                        </ul>
                                        <ol class="aa" id="aa">
                                            <li class="current"></li>
                                            <li></li>
                                            <li></li>
                                        </ol>
                                    </div>
                                </div>
                                <a class="into-gift" target="_blank" href="" >壕礼送不停</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="li3">
                            <h2 class="list-top">
                                <div>
                                    <s></s>
                                    极速下载客户端
                                </div>
                            </h2>
                            <div class="newBtu">
                                <div class="user-load"></div>
                                <a class="into-download" target="_blank" href="" >下载游戏</a>
                            </div>
                        </div>
                    </li>
                    <li style="margin-left: 10px;">
                        <div class="li4">
                            <h2 class="list-top4">
                                <div>
                                    <s></s>
                                    <a href="">登录游戏，赢iPhone7<br/>Beast耳机</a>
                                </div>
                            </h2>
                            <div class="newBtu">
                                <div class="user-iPhone"></div>
                                <a class="into-download" target="_blank" href="" >查看详情</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="box2" id="box2">
            <div class="line-left"></div>
            <div class="line-right"></div>
            <div class="newWHd clearfix" id="newWHd">
                <a class="" href="">全民竞技赛</a>
                <a href="">缘聚华星苑</a>
                <a href="">九黎求生</a>
                <a  href="">少年演武堂</a>
                <a  href="">铁蹄大作战</a>
                <a href="">西海家园</a>
                <a href="">全新脸模表情</a>
                <a  href="">轻功新技</a>
            </div>
            <div class="newPic">
                <div class="newBox">
                    <div class="tempWrap">
                        <div class="WrapPics" id="WrapPics0">
                            <ul style="width:2400px">
                                <li><a href=""><img src="../../../public/images/lead/list1-1.jpg"/></a></li>
                                <li><a href=""><img src="../../../public/images/lead/list1-2.jpg"/></a></li>
                            </ul>
                            <ol class="wrapList" id="wrapList0">
                                <li class="current" ></li>
                                <li ></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="newBox" >
                    <div class="tempWrap">
                        <div class="WrapPics" id="WrapPics1">
                            <ul style="width:3600px">
                                <li><a href=""><img src="../../../public/images/lead/list2-1.jpg"/></a></li>
                                <li><a href=""><img src="../../../public/images/lead/list2-2.jpg"/></a></li>
                                <li><a href=""><img src="../../../public/images/lead/list2-3.jpg"/></a></li>
                            </ul>
                            <ol class="wrapList" id="wrapList1">
                                <li class="current"></li>
                                <li></li>
                                <li></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="newBox" >
                    <div class="tempWrap">
                        <div class="WrapPics" id="WrapPics2">
                            <ul style="width:3600px">
                                <li><a href=""><img src="../../../public/images/lead/list3-1.jpg"/></a></li>
                                <li><a href=""><img src="../../../public/images/lead/list3-2.jpg"/></a></li>
                                <li><a href=""><img src="../../../public/images/lead/list3-3.jpg"/></a></li>
                            </ul>
                            <ol class="wrapList" id="wrapList2">
                                <li class="current"></li>
                                <li></li>
                                <li></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="newBox" >
                    <div class="tempWrap">
                        <div class="WrapPics" id="WrapPics3">
                            <ul style="width:3600px">
                                <li><a href=""><img src="../../../public/images/lead/list4-1.jpg"/></a></li>
                                <li><a href=""><img src="../../../public/images/lead/list4-2.jpg"/></a></li>
                                <li><a href=""><img src="../../../public/images/lead/list4-3.jpg"/></a></li>
                            </ul>
                            <ol class="wrapList" id="wrapList3">
                                <li class="current"></li>
                                <li></li>
                                <li></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="newBox" >
                    <div class="tempWrap">
                        <div class="WrapPics" id="WrapPics4">
                            <ul style="width:3600px">
                                <li><a href=""><img src="../../../public/images/lead/list5-1.jpg"/></a></li>
                                <li><a href=""><img src="../../../public/images/lead/list5-2.jpg"/></a></li>
                                <li><a href=""><img src="../../../public/images/lead/list5-3.jpg"/></a></li>
                            </ul>
                            <ol class="wrapList" id="wrapList4">
                                <li class="current"></li>
                                <li></li>
                                <li></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="newBox" >
                    <div class="tempWrap">
                        <div class="WrapPics" id="WrapPics5">
                            <ul style="width:3600px">
                                <li><a href=""><img src="../../../public/images/lead/list6-1.jpg"/></a></li>
                                <li><a href=""><img src="../../../public/images/lead/list6-2.jpg"/></a></li>
                                <li><a href=""><img src="../../../public/images/lead/list6-3.jpg"/></a></li>
                            </ul>
                            <ol class="wrapList" id="wrapList5">
                                <li class="current"></li>
                                <li></li>
                                <li></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="newBox" >
                    <div class="tempWrap">
                        <div class="WrapPics" id="WrapPics6">
                            <ul style="width:3600px">
                                <li><a href=""><img src="../../../public/images/lead/list7-1.jpg"/></a></li>
                                <li><a href=""><img src="../../../public/images/lead/list7-2.jpg"/></a></li>
                                <li><a href=""><img src="../../../public/images/lead/list7-3.jpg"/></a></li>
                            </ul>
                            <ol class="wrapList" id="wrapList6">
                                <li class="current"></li>
                                <li></li>
                                <li></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="newBox" >
                    <div class="tempWrap">
                        <div class="WrapPics" id="WrapPics7">
                            <ul style="width:3600px">
                                <li><a href=""><img src="../../../public/images/lead/list8-1.jpg"/></a></li>
                                <li><a href=""><img src="../../../public/images/lead/list8-2.jpg"/></a></li>
                                <li><a href=""><img src="../../../public/images/lead/list8-3.jpg"/></a></li>
                            </ul>
                            <ol class="wrapList" id="wrapList7">
                                <li class="current"></li>
                                <li></li>
                                <li></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box3" id="box3">
            <div class="line-top"></div>
            <div class="line-left"></div>
            <div class="line-right"></div>
            <div class="line-bottom"></div>
            <div class="learnMore lg1">
                <div class="rkBox rk1"></div>
                <div class="txtBox txtBox1">
                    <h3>天下女生卧谈会</h3>
                    <p>
                        一场属于游戏玩家的深夜卧谈会，<br/>
                        最新鲜热辣的大学生观点汇聚！<br/>
                        爱就在一起，今夜开撩！
                    </p>
                    <a href="" class="txtBtu">了解更多</a>
                </div>
                <div class="fgLine"></div>
            </div>
            <div class="learnMore lg2">
                <div class="rkBox rk2"></div>
                <div class="txtBox">
                    <h3>全民竞技赛即日打响</h3>
                    <p>
                        史上最接地气的勇者加护鸿利来袭！<br/>
                        回流嘉奖，知交重聚大荒坦途铺好，<br/>
                        公平至上，回归竞技奖励加成MAX!
                    </p>
                    <a href="" class="txtBtu">了解更多</a>
                </div>
                <div class="fgLine"></div>
            </div>
            <div class="learnMore lg3">
                <div class="rkBox rk3"></div>
                <div class="txtBox">
                    <h3>公测活动福利多多</h3>
                    <p>
                        资料片纪念橙色称谓“剑啸昆仑·全民狂欢"<br/>
                        绝版时装坐骑只送不卖！休闲热血两不误！<br/>
                    </p>
                    <a href="" class="txtBtu">了解更多</a>
                </div>
            </div>
        </div>
        <div class="box4" id="box4">
            <div class="line-top"></div>
            <div class="line-left"></div>
            <div class="line-right"></div>
            <div class="line-bottom"></div>
            <h2>11大门派</h2>
            <div class="mpHd">
                <a href="" class="mpHd_item mpn1"></a>
                <a href="" class="mpHd_item mpn2"></a>
                <a href="" class="mpHd_item mpn3"></a>
                <a href="" class="mpHd_item mpn4"></a>
                <a href="" class="mpHd_item mpn5"></a>
                <a href="" class="mpHd_item mpn6"></a>
                <a href="" class="mpHd_item mpn7"></a>
                <a href="" class="mpHd_item mpn8"></a>
                <a href="" class="mpHd_item mpn9"></a>
                <a href="" class="mpHd_item mpn10"></a>
                <a href="" class="mpHd_item mpn11"></a>
            </div>
            <div class="mpBd">
                <a href="" class="mpBd_panel mp1">
                    <img src="../../../public/images/lead/mp1.jpg" alt="1"/>
                </a>
                <a href="" class="mpBd_panel mp2">
                    <img src="../../../public/images/lead/mp2.jpg" alt="2"/>
                </a>
                <a href="" class="mpBd_panel mp3">
                    <img src="../../../public/images/lead/mp3.jpg" alt="3"/>
                </a>
                <a href="" class="mpBd_panel mp4">
                    <img src="../../../public/images/lead/mp4.jpg" alt="4"/>
                </a>
                <a href="" class="mpBd_panel mp5">
                    <img src="../../../public/images/lead/mp5.jpg" alt="5"/>
                </a>
                <a href="" class="mpBd_panel mp6">
                    <img src="../../../public/images/lead/mp6.jpg" alt="6"/>
                </a>
                <a href="" class="mpBd_panel mp7">
                    <img src="../../../public/images/lead/mp7.jpg" alt="7"/>
                </a>
                <a href="" class="mpBd_panel mp8">
                    <img src="../../../public/images/lead/mp8.jpg" alt="8"/>
                </a>
                <a href="" class="mpBd_panel mp9">
                    <img src="../../../public/images/lead/mp9.jpg" alt="9"/>
                </a>
                <a href="" class="mpBd_panel mp10">
                    <img src="../../../public/images/lead/mp10.jpg" alt="10"/>
                </a>
                <a href="" class="mpBd_panel mp11">
                    <img src="../../../public/images/lead/mp11.jpg" alt="11"/>
                </a>
            </div>
        </div>
        <div class="share">
            <div id="NIE-share">
                <div class="nie-share">
                    <div class="share-txt">分享到：</div>
                    <ul class="share-li">
                        <li>
                            <span class="share-logo1"></span>
                            <em>微信</em>
                        </li>
                        <li>
                            <span class="share-logo2"></span>
                            <em>易信</em>
                        </li>
                        <li>
                            <span class="share-logo3"></span>
                            <em>新浪微博</em>
                        </li>
                        <li>
                            <span class="share-logo4"></span>
                            <em>QQ空间</em>
                        </li>
                        <li>
                            <span class="share-logo5"></span>
                            <em>更多</em>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="NIE-copyRight">
            <div class="nie-copyright-new-inner">
                <div class="nie-cn-part1">
                    <span class="nie-cn-logo">
                        <a class="a0" href="http://www.163.com" target="_blank">
                            <img src="../../../public/images/index/logo_footer-1.png"/>
                        </a>
                        <a class="a1" href="http://game.163.com" target="_blank">
                            <img src="../../../public/images/index/logo_footer-2.png"/>
                        </a>
                        <a class="a2" href="http://sq.ccm.gov.cn/ccnt/sczr/service/business/emark/toDetail/700E4EB3C85B469E84A28595D0F16CFC" target="_blank">
                            <img src="../../../public/images/index/logo3.png"/>
                        </a>
                    </span>
                    <span class="nie-cn-nav">
                        <i class="nie-cn-nav-i1">
                            <a  href="http://gb.corp.163.com/gb/about/overview.html" target="_blank">公司简介</a>
                            -
                            <a  href="http://help.163.com/" target="_blank">客服服务</a>
                            -
                            <a  href="http://gb.corp.163.com/gb/legal.html" target="_blank">相关法律</a>
                            -
                            <a  href="http://game.163.com/about/" target="_blank">网易游戏</a>
                            -
                            <a  href="http://game.163.com/contact/" target="_blank">联系我们</a>
                            -
                            <a  href="http://game.163.com/contact/business.html" target="_blank">商务合作</a>
                            -
                            <a  href="http://game.163.com/job/" target="_blank">加入我们</a>
                        </i>
                        <i class="nie-cn-nav-i2">
                            杭州网易雷火科技有限公司版权所有 &copy;1997-2017
                            <a class="nie-cn-huShip" href="http://www.leihuo.net/jiazhang.html" target="_blank">点击查看家长监护工程></a>
                        </i>
                    </span>
                </div>
                <div class="nie-cn-part2">tx3.163.com由广州网易计算机系统有限公司授权杭州网易雷火科技有限公司使用</div>
            </div>
        </div>
    </div>
</div>
<script src="../../../public/js/jquery-1.12.4.js"></script>
<!--<script src="../../../public/js/lead/Register.js"></script>-->
<script src="../../../public/js/lead/lead.js"></script>
<script src="../../../public/js/normal.js"></script>

</body>
</html>