<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>《天下3》官方论坛 你我的天下3论坛</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="../../../public/css/login/login.css">
</head>
<body>
   <div id="toptb">
       <div class="wp">
           <div class="z">
               <a href="">设为首页</a>
               <a href="">收藏本站</a>
           </div>
           <div class="y">
               <span class="cts_tb">
                   <form class="schf">
                       <input type="text" placeholder="请输入搜索内容">
                       <button type="submit">
                           <b class="icon icon_search"></b>
                       </button>
                   </form>
                   <strong class="prompt">热搜: </strong>
                   <a href="" target="_blank" class="z">时装</a>
                   <a href="" target="_blank" class="z">坐骑</a>
                   <a href="" target="_blank" class="z">攻略</a>
                   <a href="" target="_blank" class="z">战场</a>
                   <a href="" target="_blank" class="z">副本</a>
                   <a href="" target="_blank" class="z">归墟</a>
               </span>
               <a href="" id="switchwidth" onclick="widthauto(this)" title="切换到宽版" class="switchwidth"></a>
           </div>
       </div>
   </div>
   <div class="hd">
    <div class="wp">
        <div class="hdc"></div>
        <div id="nv">
            <div class="nv_wrap">
                <a href="" id="qmenu">快捷导航</a>
                <ul>
                    <li>
                        <a href="" title="返回论坛首页">
                            论坛首页
                        </a>
                    </li>
                    <li>
                        <a href="" style="font-weight:bold;color:yellow">
                            伽蓝争霸赛直播
                        </a>
                    </li>
                    <li>
                        <a href="" style="font-weight:bold;color:yellow">
                            论坛福利
                        </a>
                    </li>
                    <li>
                        <a href="" style="color:cyan">
                            视频站
                        </a>
                    </li>
                    <li>
                        <a href="">
                            搜索
                        </a>
                    </li>
                    <li>
                        <a href="" title="荣耀勋章，你拥有哪些？">
                            勋章
                        </a>
                    </li>
                    <li>
                        <a href="">
                            论坛任务
                        </a>
                    </li>
                </ul>
                <a href="" class="checkin">签到</a>
            </div>
        </div>
    </div>
</div>
   <div class="wp">
    <div id="wp" class="bm_c">
        <div id="ct" class="ptm wp w cl">
            <div class="mn">
                <div class="bm">
                    <div class="bm_h">
                        <span class="y">
                            <a href="" class="xi2">没有帐号？</a>
                            <a href="../login/Resign.html">注册</a>
                        </span>
                        <h3 class="xs2">登录</h3>
                    </div>
                    <div id="main_message" style="background:#fff">
                        <div id="layer_login">
                            <h3 class="flb"></h3>
                            <div id="loginDiv" style="width:420px;height:420px;margin:10px auto;">
                                <div class="m_gmlg">
                                    <div class="m_gmlg-conw">
                                        <div class="inputbox r_usr_box">
                                            <div class="u-logo">
                                                 <div class="u-logo-img1"></div>
                                             </div>
                                            <form>
                                               <input placeholder="邮箱帐号" id="email" class="r_usr">
                                            </form>
                                        </div>
                                        <div class="inputbox r_pwd_box">
                                            <div class="u-logo">
                                                <div class="u-logo-img2"></div>
                                            </div>
                                            <input type="password" placeholder="6-16位密码，区分大小写" id="pwd" class="r_pwd">
                                        </div>
                                        <div class="ts" style="display:none;">

                                        </div>
                                        <div class="loginbox">
                                            <a href="javascript:void(0);" class="u-loginbtn jump" id="forum_log">登&nbsp;&nbsp;录</a>
                                        </div>
                                        <div class="m-unlogin">
                                            <div class="b-unlogn">
                                                <span class="u-checkbox">
                                                    <input class="un-login" type="checkbox"/>
                                                </span>
                                                <label>十天内免登录</label>
                                            </div>
                                            <a class="forgetpwd"  href="" target="_blank" id="">忘记密码？</a>
                                            <a class="u-regbtn" href="" target="_blank">去注册</a>
                                        </div>
                                    </div>
                                </div>
                                <div style="text-align:center;margin-top:10px;">
                                    <img height="120" width="120" src="../../../public/images/login/ewm.png" alt="qrcode">
                                    <div style="font-size:13px;color:#999;margin:5px 0;">
                                        扫一扫下载论坛APP，登录水贴更方便
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
   <div id="ft">
      <div class="ncp">
          <span>
              <a href="" target="_blank" style="width:118px;height:31px;padding-right:0;float: left;cursor:pointer;background:url(../../../public/images/login/netease.1.png) no-repeat"></a>
              <a href="" target="_blank" style="width:134px;height:31px;padding-right:15px;float: left;cursor:pointer;background:url(../../../public/images/login/nie.1.png) no-repeat"></a>
              <a href="" target="_blank" style="width:31px;height:31px;padding-right:15px;float: left;cursor:pointer;background:url(../../../public/images/login/wen.png) no-repeat"></a>
          </span>
          <span>
              <span>
                  <a href="">手机版</a>
                  -
                  <a href="">Archiver</a>
                  -
              </span>
              <br/>
              <span class="ncp-l2">杭州网易雷火科技有限公司版权所有 ©1997-2017</span>
              <a href="" style="display:inline-block;padding:2px;color:white;background-color:rgb(97,0,0);position:absolute;right:64px;top:50px;" target="_blank">点击查看家长监护工程&nbsp;&gt;</a>
          </span>
      </div>
   </div>
</body>
<script src="../../../public/js/jquery-1.12.4.js"></script>
<script src="../../../public/js/login/login.js"></script>
<script src="../../../public/js/Official_forum/officialForum.js"></script>
</html>