<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网易账号中心</title>
    <link rel="stylesheet" href="../../../public/css/login/Login_l.css">
    <script src="../../../public/js/jquery-1.12.4.js"></script>
    <script src="../../../public/js/jquery-md5.js"></script>

</head>
<body>
<div id="top">
    <div id="top_logo">
        <a href="../login/Resign.html"></a>
    </div>
    <h2>登录</h2>
</div>
<div id="content">
    <div id="content_main">
        <!--<iframe id="advList" frameborder="0" scrolling="no" marginheight="0px" marginwidth="0px"-->
                <!--style="display: block;width: 990px;height: 512px;position: absolute;left: 165px;"-->
                <!--src="//g.163.com/r?site=netease&amp;affiliate=reg&amp;cat=login&amp;type=logo990x512&amp;location=1">-->
        <!--</iframe>-->
        <div id="content_login">
            <div id="cLogin_left">
                <h2>普通登录</h2>
            </div>
            <div id="cLogin_right">
                <h2>二维码登录</h2>
                <span class="new1"></span>
            </div>
            <form method="get" action="">
                <!-- 账号 -->
                <div id="normalLogin">
                    <div class="inputBox cLogin_input1">
                        <span class="icon icon1"></span>
                        <input type="text" name="uname1" placeholder="网易邮箱/手机号/其他邮箱" class="input input_txt1"/>
                        <div class="clear_txt"></div>
                    </div>
                    <!-- 密码 -->
                    <div class="inputBox cLogin_input2">
                        <span class="icon icon2"></span>
                        <input type="password" name="pwd" placeholder="密码" class="input input_pwd"/>
                        <div class="clear_txt"></div>
                    </div>
                    <!-- 拼图 -->
                    <div id="checkImg">
                        <img src="../../../public/images/login/pingtu2.jpg" class="img1"/>
                        <img src="../../../public/images/login/pingtu.png" class="img2" />
                    </div>
                    <div id="checkBox">
                        <img src="../../../public/images/login/slider.png" class="move"/>
                        <span class="moveSpan">按住滑块，拖动完成上方拼图</span>
                    </div>
                    <span class="ferrorTail"></span>
                   <div id="manager">
                       <span class="icon3 logo"></span>
                       <span class="icon4">使用<a href="">网易帐号管家</a>，全面保护您的帐号！</span>
                   </div>
                    <!-- 登录 -->
                    <div class="input input_sbt dl" id="dl"><span>登&nbsp;&nbsp;录</span></div>
                    <!--<input type="text" name="sbt" value="登&nbsp;&nbsp;录" class="input input_sbt"/>-->
                </div>
            </form>
            <div id="QRLogin">
                <p>使用<a href=""> 网易帐号管家</a> 或<a href=""> 邮箱大师</a> 扫一扫快速登录</p>
                <div id="QR"></div>
            </div>
            <div id="cLogin_bottom">
                <a href="" class="forget">忘记密码？</a>
                <a href="Resign.html" class="resign">注册</a>
                <a href="" class="about">关于网易邮箱帐号</a>
                <p>
                    <a href="" class="info">公告：网易邮箱帐号升级公告</a>
                </p>
            </div>
        </div>
    </div>
    <div id="content_bottom">
        <ul>
            <li>
                <a href="#">
                    <em></em>
                    <span class="span1">网易帐号管家</span>
                    <br />
                    <span class="span2">帐号保护神器，有效防止被盗</span>
                </a>
                <span class="new2"></span>
            </li>
            <li>
                <a href="#">
                    <em></em>
                    <span class="span1">找回密码</span>
                    <br />
                    <span class="span2">多种方式快速找回密码</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <em></em>
                    <span class="span1">锁定帐号</span>
                    <br />
                    <span class="span2">禁止登录，防止帐号被盗</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <em></em>
                    <span class="span1">帐号中心公众版</span>
                    <br />
                    <span class="span2">帐号相关资讯公示平台</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <em></em>
                    <span class="span1">帐号修复</span>
                    <br />
                    <span class="span2">通过客服解决帐号问题</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="footer">
    <div id="footBox">
        <p>
            <a href="http://corp.163.com/eng/about/overview.html" target="_blank">About NetEase</a>
            -
            <a href="http://corp.163.com/eng/about/overview.html" target="_blank">公司简介</a>
            -
            <a href="http://corp.163.com/eng/about/overview.html" target="_blank">联系方式</a>
            -
            <a href="http://corp.163.com/eng/about/overview.html" target="_blank">OAuth2.0认证</a>
            -
            <a href="http://corp.163.com/eng/about/overview.html" target="_blank">招聘信息</a>
            -
            <a href="http://corp.163.com/eng/about/overview.html" target="_blank">客户服务</a>
            -
            <a href="http://corp.163.com/eng/about/overview.html" target="_blank">相关法律</a>
            -
            <a href="http://corp.163.com/eng/about/overview.html" target="_blank">网络营销</a>
        </p>
        <p>网易公司版权所有 ©1997-2017</p>
    </div>
</div>


<script src="../../../public/js/login/Login_l.js"></script>

</body>
</html>