*{
    margin:0;
    padding:0;
}
#wrap{
    width:100%;
    height:1080px;
    background:url("../../../images/Tools/Heroes_list/mainbg.jpg") no-repeat center 0;
}
#main{
    width:1167px;
    height:1080px;
    /*background-color:plum;*/
    margin:0 auto;
    position:relative;
}
#dTop{
    height:1080px;
    /*background-color:palegreen;*/
}
.aLogo{
    width:250px;
    height:140px;
    display:block;
    float:left;
}
.dLink{
    width:220px;
    float:right;
    padding:38px 0;
    color:#ffffff;
    font-size:14px;
}
.dLink a{
    color:#ffffff;
    text-decoration: none;
    font-size:14px;
}
.dLink a:hover{
    text-decoration: underline;
    color:#ED721A;
}
.dSearch{
    height:245px;
    /*background-color:pink;*/
    position:relative;
    top:140px;
}
.dInp_S{
    width:455px;
    height:42px;
    position:relative;
    left:365px;
    top:0;
}
.inpTxt{
    width:396px;
    height:40px;
    position:relative;
    top:-140px;
    left:-10px;
    font-size:14px;
    color:#b2b2b2;
    padding-left:7px;
    border:none;
    outline:medium;
    float:left;
    background:none;
}
.inpBut{
    width:51px;
    height:42px;
    cursor:pointer;
    border:none;
    position:relative;
    left:143px;
    background:none transparent;
    outline:medium;
}
#DropMenu{
    width:100%;
    height:170px;
    position:absolute;
    top:60px;
}
.dList1{
    width:625px;
    height:150px;
    float:left;
    margin-top:22px;
}
.dList2{
    width:490px;
    height:150px;
    float:right;
    margin-top:22px;
}
.top{
    width:120px;
    height:28px;
    color:#262626;
    font-size:22px;
    padding:0 0 0 5px;
    line-height:28px;
    font-weight:800;
    font-family:"楷体";
    cursor:default;
    text-align:left;
}
.top i{
    width:16px;
    height:16px;
    background:url("../../../images/Tools/Heroes_list/icon1.png") no-repeat;
    display:inline-block;
}
.dList1 ul li,.dList2 ul li{
    width:180px;
    height:30px;
    margin:0 15px 0 10px;
    float:left;
    list-style:none;
    line-height:30px;
}
.dList1 ul li a,.dList2 ul li a{
    font-size:14px;
    font-family:"微软雅黑";
    text-decoration: none;
    color:#262626;
}
.dList1 ul li a:hover,.dList2 ul li a:hover{
    color:#ff581e;
    text-decoration: underline;
}
.dLeft{
    width:625px;
    height:462px;
    /*background-color:paleturquoise;*/
    position:relative;
    top:145px;
    float:left;
}
.ulTab{
    width:625px;
    height:35px;
    /*background-color:plum;*/
    position:relative;
    top:13px;
    font-size:22px;
    font-family:"楷体";
    color:#ffffff;
}
.ulTab li{
    float:left;
    list-style:none;
    width:130px;
    height:35px;
    line-height:35px;
    text-align: center;
    cursor:pointer;
}
.ulTab li.current{
    color:#ff7d00;
    border-bottom:1px solid #ff7d00;
}
.dTabcon{
    width:620px;
    height:160px;
    /*background-color:palegoldenrod;*/
    position:relative;
    top:25px;
}
.dTabcon ul li{
    width: 500px;
    height:25px;
    margin-top:5px;
    font-size:14px;
    line-height:25px;
    list-style:none;
}
.dTabcon ul li a{
    color:#b3b3b3;
    cursor:pointer;
    text-decoration:none;
}
.dTabcon ul li a span{
    color:#5e5e5e;
}
.dTabcon li.current a,.dTabcon li.current a span{
    color:#ff7d00;
}
.dTabcon ul li a:hover,.dTabcon ul li a:hover span{
    color:#ff7d00;
}
.dAnswer{
    width:600px;
    height:200px;
    /*background-color:pink;*/
    position:relative;
    left:10px;
    top:40px;
}
.dAnswer .dNew h3{
    height:31px;
    line-height:31px;
    font-size:14px;
    color:#ff7d00;
    text-indent:10px;
}
.dAnswer .dNew p{
    font-size:14px;
    color:#b3b3b3;
    margin-left:10px;
    line-height:24px;
}
.dRight{
    width:480px;
    height:455px;
    /*background-color:palegreen;*/
    position:relative;
    top:145px;
    left:56px;
    float:left;
}
.newBox{
    width:480px;
    height:225px;
    /*background-color:peru;*/
    margin-top:-50px;
}
.fTitle{
    width:480px;
    height:40px;
    /*background-color:peru;*/
}
.newBox .fTitle h3{
    line-height:40px;
    padding-left:12px;
    color:#ffffff;
    font-family: "楷体";
    font-size:22px;
}
.fListWrap{
    width:460px;
    height:170px;
    /*background-color:papayawhip;*/
    margin-top:12px;
    margin-left:8px;
}
.fListWrap li{
    height:30px;
    /*background-color:palegreen;*/
    list-style:none;
    line-height:30px;
}
.fListWrap li a{
    width:410px;
    height:30px;
    display:inline-block;
    font-size:14px;
    text-decoration: none;
    color:#b3b3b3;
}
.fListWrap li a:hover{
    color:#ED721A;
}
.fListWrap li span{
    color:#5e5e5e;
    font-size:14px;
    float:right;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
#wrapper{
    position: relative;
    margin: 50px auto;
    margin-left:-3px;
    width: 490px;
    height: 182px;
}
#banner{
    position:relative;
    width: 490px;
    height: 182px;
    overflow: hidden;
}
.imgList{
    position:relative;
    width:2500px;
    height:182px;
    z-index: 10;
    overflow: hidden;
}
.imgList li{
    width: 490px;
    height: 182px;
    float:left;
    display: inline;
}
.indexList{
    position: absolute;
    left:220px;
    bottom: 5px;
    z-index: 30;
}
.indexList li{
    width:18px;
    height:18px;
    float: left;
    margin-right: 5px;
    background:url("../../../images/Tools/Heroes_list/scrbtn.png") no-repeat ;
}
.indexList .indexOn{
    background-position:0 0;
}
.indexList li{
    background-position:-23px 0;
}
#foot-share{
    width:960px;
    height:32px;
    position:relative;
    top:679px;
    margin:50px auto 0;
    padding-top:5px;
}
.NIE-share{
    height:32px;
    width:510px;
    position:absolute;
    left:225px;
    display:inline-block;
}
.NIE-share .NIE-share-txt{
    float:left;
    height:20px;
    line-height:20px;
    font-size:12px;
    color:#666;
}
.NIE-share .NIE-share-iconBtn{
    float:left;
}
.NIE-share .NIE-share-iconBtn li{
    margin-left:3px;
    height:20px;
    float:left;
}
.NIE-share .NIE-share-iconBtn #li1{
    background:url("../../../images/Book/Beginner_guide/微信.png") no-repeat ;
    background-size:20px 20px;
}
.NIE-share .NIE-share-iconBtn #li1:hover{
    cursor:pointer;
    background:url("../../../images/Book/Beginner_guide/微信 (1).png") no-repeat ;
    background-size:20px 20px;
}
.NIE-share .NIE-share-iconBtn #li2{
    background:url("../../../images/Book/Beginner_guide/易信.png") no-repeat ;
    background-size:20px 20px;
}
.NIE-share .NIE-share-iconBtn #li2:hover{
    cursor:pointer;
    background:url("../../../images/Book/Beginner_guide/易信 (1).png") no-repeat ;
    background-size:20px 20px;
}
.NIE-share .NIE-share-iconBtn #li3{
    background:url("../../../images/Book/Beginner_guide/微博 .png") no-repeat ;
    background-size:20px 20px;
}
.NIE-share .NIE-share-iconBtn #li3:hover{
    cursor:pointer;
    background:url("../../../images/Book/Beginner_guide/微博（1）.png") no-repeat ;
    background-size:20px 20px;
}
.NIE-share .NIE-share-iconBtn #li4{
    background:url("../../../images/Book/Beginner_guide/qq空间.png") no-repeat ;
    background-size:20px 20px;
}
.NIE-share .NIE-share-iconBtn #li4:hover{
    cursor:pointer;
    background:url("../../../images/Book/Beginner_guide/qq空间 (1).png") no-repeat ;
    background-size:20px 20px;
}
.NIE-share .NIE-share-iconBtn #more{
    background:url("../../../images/Book/Beginner_guide/更多.png") no-repeat ;
    background-size:20px 20px;
}
.NIE-share .NIE-share-iconBtn #more:hover{
    cursor:pointer;
    background:url("../../../images/Book/Beginner_guide/更多 (1).png") no-repeat ;
    background-size:20px 20px;
}
.NIE-share a{
    padding-right:10px;
    color:#666;
}
.NIE-share6 .NIE-share-iconBtn a:hover{
    text-decoration: none;
}
.NIE-share6 .NIE-share-iconBtn a span{
    height:20px;
    line-height:20px;
    cursor:pointer;
}
.NIE-share6 .NIE-share-iconBtn a em{
    margin-left:22px;
    height:20px;
    line-height:20px;
    font-size:14px;
    font-style: normal;
    cursor:pointer;
}
.NIE-share6 .NIE-share-iconBtn li:hover{
    color:#ff5400;
}
.NIE-share6 .NIE-share-more{
    width:22px;
    position:absolute;
    top:25px;
    right:75px;
}
.NIE-share-more ul{
    width:198px;
    border:1px solid #c2c2c2;
    position:absolute;
    padding:2px;
    background-color:#fff;
    z-index:99;
}
.NIE-share-more li{
    width:96px;
    height:25px;
    float:left;
    text-indent: 26px;
}
.NIE-share .NIE-share-more li a{
    width:87px;
    height:25px;
    font-size:12px;
    line-height:25px;
}
.NIE-share-more li a:hover{
    text-decoration: none;
}
.NIE-share-more li:hover{
    cursor:pointer;
}
#ren:hover,#ten:hover,#QQ:hover,#dou:hover,#bai:hover{
    background-color:gainsboro;
}
#ten{
    background:url("../../../images/Book/Beginner_guide/icon.png") no-repeat 5px -48px;
}
#QQ{
    background:url("../../../images/Book/Beginner_guide/icon.png") no-repeat 5px -473px;
}
#dou{
    background:url("../../../images/Book/Beginner_guide/icon.png") no-repeat 5px -246px;
}
#bai{
    background:url("../../../images/Book/Beginner_guide/icon.png") no-repeat 5px -448px;
}
#NIE-copyRight{
    position: absolute;
    color: #e23a3f;
    height:65px;
    top:1005px;
    left:160px;
}
.nie-copyright-new-inner{
    width:840px;
    text-align:left;
    margin:0 auto;
    padding:15px 0 0;
    font-size:12px;
    font-family:SimSun;
    line-height:20px;
}
.nie-cn-logo{
    display:inline-block;
    vertical-align:middle;
    height:48px;
    min-width:280px
}
.nie-cn-logo a{
    display:inline-block;
    vertical-align:top;
    margin-top: 2px;
}
.nie-cn-logo img{
    padding-top:5px;
    border: 0;
    vertical-align:middle;
}
.nie-cn-nav{
    display:inline-block;
    vertical-align:top;
    padding-left:6px;
    position:relative;
}
.nie-cn-nav i{
    display:block;
    font-style:normal;
}
.nie-cn-nav i.nie-cn-nav-i2{
    height:28px;
    line-height:28px;
}
.nie-cn-nav a{
    text-decoration:none;
    color: #e23a3f;
}
.nie-cn-nav a:hover{
    text-decoration:underline;
}